.estilo_formulario {
    text-align: center;
    margin-left: 210px;
    width: 50%;
    padding: 7px;
    height: 30px;
}

body {
    background-color: #c0c0c0;
}

.entrar {
    margin-left: 20px;
}
.h2 {
    text-align: center;
}